/* src/styles/index.scss */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.home-container {
  width: 100%;
  position: absolute;
  top: 15%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;

  h1 {
    margin-bottom: 20px;
    color: #333;
  }

  .logo-image {
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;

    li {
      display: inline;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: #333;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f9f9f9;
        }
      }
    }
  }

  .info-container {
    width: 80%;
    margin: 20px auto 0;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
