body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.history-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.history-container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}
.history-container .song-list {
  list-style: none;
  padding: 0;
}
.history-container .song-list .song {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
.history-container .song-list .song:last-child {
  width: 100%;
}
.history-container .song-list .song .song-details {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.history-container .song-list .song .song-details img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.history-container .song-list .song .song-details .left-side .sticky {
  display: flex;
  align-items: center;
}
.history-container .song-list .song .song-details .info h3 {
  margin-bottom: 5px;
  color: #333;
  font-size: 20px;
}
.history-container .song-list .song .song-details .info p {
  margin: 200;
  color: #666;
}
.history-container .song-list .song .song-details .side_panel {
  float: right;
  margin-right: 30px;
}
.history-container .song-list .song .song-details .time_display {
  font-size: 15px;
  margin-bottom: 5px;
}
.history-container .song-list .song .song-details .control_button {
  padding: 5px 10px;
  font-size: 12px;
  background-color: rgb(102, 174, 133);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.history-container .song-list .song .song-details .control_button:hover {
  background-color: rgb(102, 174, 133);
}
