body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container_for_users {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }

  .user-list {
    list-style: none;
    padding: 0;

    .user {
      padding: 20px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      .user-details {
        display: flex;
        align-items: center;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin-right: 20px;
        }

        .info {
          h3 {
            margin-bottom: 5px;
            color: #333;
            font-size: 18px;
          }

          p {
            margin: 0;
            color: #666;
          }
        }
      }
    }
  }
}